body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  padding: 16px;
  text-align: center;
  background: #16a34a;
}

#feed {
  padding: 12px;
}

.card {
  background: #1e293b;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
}